 <!-- Intro -->
        <section id="intro" class="intro bg-image" data-background-img="assets/grace_offical/grace_family.jpg">

            <!--Video Bg -->
            <div class="intro-media-wraper overlay-dark40">
                <!-- youtube Video -->
                <div id="video" class="ytp-player" data-property="{videoURL:'https://www.youtube.com/watch?v=lXZso40lkls',containment:'#intro', showControls:false, autoPlay:true, loop:true, mute:true, startAt:6, opacity:1, addRaster:false, quality:'default'}"></div>
                <!-- End youtube Video -->
            </div>
            <!-- End Video Bg -->

            <!-- Caption Section -->
            <div class="js-fullscreen-height dark-bg intro-caption-top container">
                <div class="intro-content">
                    <div class="intro-content-inner">
                        <div class="intro-play-icon">
                            <a class="video-popup" href="https://www.youtube.com/watch?v=lXZso40lkls">
                                <span class="play-icon-lg">
                                    <i class="fa fa-play"></i>
                                </span>
                            </a>
                        </div>
                        <h1 class="intro-title mb-40">Grace East Queens</h1>
                        <h5 class="alt-title intro-sub-title">Jesus as Center / Value The Journey / Live in Community / Love Your Neighbor</h5>
                    </div>
                </div>
            </div>
            <!-- End Caption Section -->

        </section>
        <!-- End Intro -->

        <!-- About Section -->
        <section id="about" class="section-padding">
            <div class="container text-center mb-60">
                <h1>How do we do this?</h1>
                <p class="lead-lg max-width-700">Grace exists to create safe places in New York City for people to explore and be challenged in faith toward Jesus.</p>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4 content-box mb-sm-45">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-book-open"></i>
                        </div>
                        <h4 class="alt-title">Grace Stories</h4>
                        <p>Each journey has its own story. Hear the stories of individuals on how God has moved in their lives.</p>
                          <div class="pricing-button">
                                <a target="_blank" href="http://google.com/" class="btn btn-md btn-color-outline"><i class="fa fa-user left"></i>Grace Stories</a>
                            </div>
                    </div>
                    <div class="col-md-4 content-box mb-sm-45">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-heart"></i>
                        </div>
                        <h4 class="alt-title">Neighborhood</h4>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</p>
                         <div class="pricing-button">
                                <a target="_blank" href="http://google.com/" class="btn btn-md btn-color-outline"><i class="fa fa-user left"></i>Grace Initiative</a>
                            </div>
                    </div>
                    <div class="col-md-4 content-box">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-global"></i>
                        </div>
                        <h4 class="alt-title">Community</h4>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</p>
                         <div class="pricing-button">
                                <a target="_blank" href="http://google.com/" class="btn btn-md btn-color-outline"><i class="fa fa-user left"></i>Grace Community</a>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- Skills Section -->
        <section id="skills" class="section-padding pos-section gray-bg bg-image overlay-light" data-stellar-background-ratio="0.4" data-background-img="assets/grace_offical/community.jpg">
            <!-- End page triangle shape -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="alt-title">  </h1>
                        <p class="large"></p>
                       
                    </div>
                    <div class="col-md-6">
                        <div data-percent="55%" class="skillbar">
                          
                            </div>
                        </div>
                        <div data-percent="80%" class="skillbar">
                          
                            </div>
                        </div>
                        <div data-percent="40%" class="skillbar">
                       
                            </div>
                        </div>
                        <div data-percent="70%" class="skillbar">
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Skills Section -->

      

        <hr />
       <!-- Features Section -->
        <section id="features" class="section-padding">

            <div class="container">
                <div class="row">
                    <div class="col-md-5 mb-sm-30">
                        <h1 class="alt-title">Amazing Our Features</h1>
                        <p class="large">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old Richard McClintock The generated.</p>
                        <p class="large">It has roots in a piece of classical Latin literature from classical Latin literature 45 BC, making it over 2000 years old.</p>
                        <div class="mt-30">
                            <a class="link features-block-link"><i class="icon icon-video features-block-link-icon"></i>WATCH VIDEO</a>
                            <a class="link features-block-link"><i class="icon icon-pricetags features-block-link-icon"></i>Key Features</a>
                        </div>
                    </div>
                    <div class="col-md-7 text-right wow fadeInUp">
                        <img src="assets/grace_offical/mockup/mockup02.png" style="max-width: 580px; width: 100%;" alt="" />
                    </div>

                </div>
            </div>



        </section>

        
        <!-- Footer Section -->
        <footer id="footer" class="footer gray-bg">
            <div class="container text-center">
                <ul class="social mb-60 wow fadeInUp" data-wow-duration="1.5s">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
                <p class="copyright">
                    <a class="copy-link scroll-top" href="">&copy; Apollo 2016</a><br />
                    All Rights Reserved, Template by <a target="_blank" href="http://nileforest.com/"><b>nileforest</b></a>
                </p>
            </div>
        </footer>
        <!-- End Footer Section -->

    </div>
    <!-- End Page Wraper -->


