 <!-- Intro -->
        <section id="intro" class="intro bg-image" data-background-img="assets/grace_offical/grace_family.jpg">

            <!--Video Bg -->
            <div class="intro-media-wraper overlay-dark40">
                <!-- youtube Video -->
                <div id="video" class="ytp-player" data-property="{videoURL:'https://www.youtube.com/watch?v=lXZso40lkls',containment:'#intro', showControls:false, autoPlay:true, loop:true, mute:true, startAt:6, opacity:1, addRaster:false, quality:'default'}"></div>
                <!-- End youtube Video -->
            </div>
            <!-- End Video Bg -->

            <!-- Caption Section -->
            <div class="js-fullscreen-height dark-bg intro-caption-top container">
                <div class="intro-content">
                    <div class="intro-content-inner">
                        <div class="intro-play-icon">
                            <a class="video-popup" href="https://www.youtube.com/watch?v=lXZso40lkls">
                                <span class="play-icon-lg">
                                    <i class="fa fa-play"></i>
                                </span>
                            </a>
                        </div>
                        <h1 class="intro-title mb-40">Grace East Queens</h1>
                        <h5 class="alt-title intro-sub-title">Jesus as Center / Value The Journey / Live in Community / Love Your Neighbor</h5>
                    </div>
                </div>
            </div>
            <!-- End Caption Section -->

        </section>
        <!-- End Intro -->

        <!-- About Section -->
        <section id="about" class="section-padding">
            <div class="container text-center mb-60">
                <h1>About us</h1>
                <p class="lead-lg max-width-700">Grace exists to create safe places in New York City for people to explore and be challenged in faith toward Jesus.</p>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4 content-box mb-sm-45">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-genius"></i>
                        </div>
                        <h4 class="alt-title">We are Creative</h4>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</p>
                    </div>
                    <div class="col-md-4 content-box mb-sm-45">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-tools"></i>
                        </div>
                        <h4 class="alt-title">We have Developer</h4>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</p>
                    </div>
                    <div class="col-md-4 content-box">
                        <div class="alt-icon-top icon-gray">
                            <i class="icon-camera"></i>
                        </div>
                        <h4 class="alt-title">we are photography</h4>
                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- Skills Section -->
        <section id="skills" class="section-padding pos-section gray-bg bg-image overlay-light" data-stellar-background-ratio="0.4" data-background-img="assets/grace_offical/community.jpg">
            <!-- page triangle shape -->
            <div class="page-triangle white-bg"></div>
            <!-- End page triangle shape -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="alt-title">  </h1>
                        <p class="large"></p>
                       
                    </div>
                    <div class="col-md-6">
                        <div data-percent="55%" class="skillbar">
                          
                            </div>
                        </div>
                        <div data-percent="80%" class="skillbar">
                          
                            </div>
                        </div>
                        <div data-percent="40%" class="skillbar">
                       
                            </div>
                        </div>
                        <div data-percent="70%" class="skillbar">
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Skills Section -->

      

        <hr />





        <!-- Testimonials Section -->
        <section id="testimonials" class="section-padding bg-image dark-bg pos-section overlay-dark" data-stellar-background-ratio="0.4" data-background-img="assets/grace_offical/full/15.jpg">
            <!-- page triangle shape -->
            <div class="page-triangle white-bg"></div>
            <!-- End page triangle shape -->
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center max-width-700">
                            <div class="page-icon-sm"><i class="icon-quote"></i></div>
                            <h2>What People Say?</h2>
                            <p class="lead-lg">I got a dummy for Christmas and started teaching myself. I got books and records and sat in front of the practising.</p>
                            <h6 class="quote-author alt-title">Jeff Dunham <span class="text-regular">( Appel Studio )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center max-width-700">
                            <div class="page-icon-sm"><i class="icon-quote"></i></div>
                            <h2>What People Say?</h2>
                            <p class="lead-lg">you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist.</p>
                            <h6 class="quote-author alt-title">Alexander Theroux <span class="text-regular">( USA )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center max-width-700">
                            <div class="page-icon-sm"><i class="icon-quote"></i></div>
                            <h2>What People Say?</h2>
                            <p class="lead-lg">We're not leaving here without Buster, man. Leave no crash-test dummy Text all the Rotate Simply behind!</p>
                            <h6 class="quote-author alt-title">Adam Savage <span class="text-regular">( Artist )</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Section -->


        
        <!-- Footer Section -->
        <footer id="footer" class="footer gray-bg">
            <div class="container text-center">
                <ul class="social mb-60 wow fadeInUp" data-wow-duration="1.5s">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
                <p class="copyright">
                    <a class="copy-link scroll-top" href="">&copy; Apollo 2016</a><br />
                    All Rights Reserved, Template by <a target="_blank" href="http://nileforest.com/"><b>nileforest</b></a>
                </p>
            </div>
        </footer>
        <!-- End Footer Section -->

    </div>
    <!-- End Page Wraper -->


