
 <!-- Page Intro -->
        <section id="inner-intro" class="inner-intro bg-image overlay-dark40 dark-bg parallax parallax-background2" data-background-img="assets/grace_offical/cg.jpg">

            <div class="container">
                <div class="intro-content">
                    <div class="intro-content-inner">
                        <h1 class="">Welcome</h1>
                        <h5 class="alt-title intro-sub-title">Everything you need to know about our Community</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Intro -->
<!-- About Section -->

        <section id="about" class="section-padding">
            <div class="container mb-60">
                <div class="rows text-center">
                    <h1 class="mb-60">Who we are?</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-6 mb-sm-45">
                                <p class="lead-lg">We believe that God has divinely placed us here to be a new voice
                                in East Queens for His redemptive story.Under the leadership and training we’ve received from The Community of Grace and Redeemer City to City our team is more ready than ever to bring the good news of Jesus to our city.</p>
                            </div>
                            <div class="col-md-6 mb-sm-45">
                                <p class="lead-lg">We have a unique opportunity to present the hope of the Gospel of Jesus with the same clarity and compassion which Christ gave to us. This is why we launched Grace East Queens in Bayside, NY on Easter Sunday.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <!-- Statement Section -->
        <section id="statement" class="section-padding bg-image dark-bg pos-section overlay-dark" data-stellar-background-ratio="0.4" data-background-img="assets/grace_offical/community.jpg">
            <!-- page triangle shape -->
            <div class="page-triangle white-bg"></div>
            <!-- End page triangle shape -->
            <div class="container text-center">
                <a class="video-popup" href="{videoURL:https://vimeo.com/207233999?activityReferer=1show, Controls:false, autoPlay:true, loop:true, mute:true, startAt:6, opacity:1, addRaster:false, quality:'default'}">
                    <span class="play-icon-md">
                        <i class="fa fa-play"></i>
                    </span>
                </a>
                <h4 class="max-width-700 mt-30">Listen to our lead pastor as he lets us know about whats been happening at grace.</h4>
                <h6 class="alt-title mt-30">See Watch Video</h6>
            </div>
        </section>
        <!-- End Statement Section -->



        <!-- History Tab Section -->
        <section id="service" class="section-padding">
            <div class="container text-center">
                <h1 class="mb-60">Grace Values</h1>
            </div>
            <div class="container">
                <!-- Tab Navigation -->
                <ul class="icon-tab-nav tabs" data-tabgroup="tab-group">
                    <li>
                        <a href="#tab1" class="active">
                            <h5 class="icon-tab-nav-title alt-title">Jesus as the Center</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2">
                            <h5 class="icon-tab-nav-title alt-title">Value the Journey</h5>
                        </a>

                    </li>
                    <li>
                        <a href="#tab3">
                            <h5 class="icon-tab-nav-title alt-title">Live in Community</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#tab4">
                            <h5 class="icon-tab-nav-title alt-title">Love Your Neighbor</h5>
                        </a>
                    </li>
                    
                <!-- Tab Content -->
                <div class="tab-content mt-45" id="tab-group">
                    <div class="row tab-pane" id="tab1">
                        <div class="col-md-6 mb-sm-45">
                            <p class="lead-lg">We believe that Jesus is the gracious savior and king of the earth. Therefore, our lives are lived best in his loving service.</p>
                            <h6 class="quote-author alt-title mt-25">&mdash; Jeff Dunham </h6>
                        </div>
                        <div class="col-md-6 mb-sm-45">
                             <p class="lead-lg">We believe that Jesus is the gracious savior and king of the earth. Therefore, our lives are lived best in his loving service.</p>
                        </div>
                        
                    </div>

                    <div class="row tab-pane" id="tab2">
                        <div class="col-md-6 mb-sm-45">
                            <p class="lead-lg">Mobile Apps unde  ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <h6 class="quote-author alt-title mt-25">&mdash; Jeff Dunham </h6>
                        </div>
                        <div class="col-md-6 mb-sm-45">
                            <p class="lead-lg">We believe that Jesus is the gracious savior and king of the earth. Therefore, our lives are lived best in his loving service.</p>
                        </div>
                    </div>

                    <div class="row tab-pane" id="tab3">
                        <div class="col-md-6 mb-sm-45">
                            <p class="lead-lg">Mobile Apps unde  ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <h6 class="quote-author alt-title mt-25">&mdash; Jeff Dunham </h6>
                        </div>
                        <div class="col-md-6 mb-sm-45">
                            <p class="lead-lg">We believe in the power of biblical togetherness; knowing and being known so that we can love, serve, and challenge each other in the truth of the Gospel.</p></p>
                        </div>
                    </div>

                    <div class="row tab-pane" id="tab4">
                        <div class="col-md-6 mb-sm-45">
                            <p class="lead-lg">Mobile Apps unde  ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <h6 class="quote-author alt-title mt-25">&mdash; Jeff Dunham </h6>
                        </div>
                        <div class="col-md-6 mb-sm-45">
                             <p class="lead-lg">We believe the Holy Spirit leads us to lay down our lives for the people who cross our paths on a daily basis.</p>
                        </div>
                    </div>
                </div>
            </div>
                <!-- End Tab Content -->
        </section>
        <!-- End Service Section -->


        <!-- Skills Section -->
        <section id="skills" class="section-padding pos-section bg-image overlay-light" data-stellar-background-ratio="0.4" data-background-img="assets/grace_offical/community_group.jpg">
            
            <!-- End page triangle shape -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="alt-title"></h1>
                        <p class="large"></p>
                        <h6 class="quote-author alt-title mt-25">— </h6>
                    </div>
                        </div>
                    </div>
               
        </section>
        <!-- End Skills Section -->
 <!-- Team Section -->
        <section id="team" class="section-padding">
            <div class="container text-center">
                <h1>Leadership</h1>
                <p class="lead-lg max-width-700 mb-60">Eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            </div>
            <div class="container">
                <div class="rows">


                    <!--Team Carousel -->
                    <div class="owl-carousel team-carousel nf-carousel-theme">

                    <div class="item wow fadeInUp">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="assets/grace_offical/justin_600_701.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5 class="alt-title">Justin Varghese</h5>
                                    <p class="">Lead Pastor</p>
                                </div>
                            </div>
                        </div>
                        <div class="item wow fadeInUp">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="assets/grace_offical/justin_600_701.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5 class="alt-title">Justin Varghese</h5>
                                    <p class="">Lead Pastor</p>
                                </div>
                            </div>
                        </div>

                        <div class="item wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="assets/grace_offical/justin_600_701.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5 class="alt-title">Justin Varghese</h5>
                                    <p class="">Lead Pastor</p>
                                </div>
                            </div>
                        </div>
                <div class="item wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <div class="team-item-img">
                                    <img src="assets/grace_offical/justin_600_701.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5 class="alt-title">Justin Varghese</h5>
                                    <p class="">Lead Pastor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </section>
        <!-- Portfolio Section -->
        <section id="portfolio-single" class="section-padding">

            <!-- Portfolio Detail -->
            <div class="container">
                <div class="row">
                    <!-- Poftfolio Item -->
                    <div class="col-md-6">
                        <div class="portfolio-image-wrap">
                            <img src="assets/grace_offical/portfolio/large/02.jpg" alt="image" />
                        </div>
                        <div class="portfolio-image-wrap">
                            <img src="assets/grace_offical/portfolio/large/08.jpg" alt="image" />
                        </div>
                        <div class="portfolio-image-wrap">
                            <img src="assets/grace_offical/portfolio/large/04.jpg" alt="image" />
                        </div>
                    </div>
                    <!-- End Poftfolio Item -->

                    <!-- Poftfolio Content -->
                    <div class="col-md-6">
                        <div class="portfolio-item-content">
                            <h1 class="alt-title">What's Sunday Like?</h1>
                            <div class="portfolio-item-content-spc">
                                <b><i><p class= "large">Then say to him, ‘The Lord, the God of the Hebrews, has sent me to say to you: Let my people go, so that they may worship me in the wilderness. Exodus 7:16</p></i></b>
                                <p class= "large">This statement occurred during the dramatic showdown between Moses and the Egyptian Pharaoh in the book of Exodus. The conflicts embedded in the Bible are rich material for movie scripts and plays, but this admonition from Moses to Pharaoh has important implications for us today as well.</p>
                                <p class= "large">“Let my people go, so that they may worship me in the wilderness.” When we read this passage the logical question would be, “Why did they have to worship God in the wilderness? Why couldn’t they just worship in Egypt? Isn’t God everywhere?”</p>
                                 <p class= "large">God is omnipresent (at all places at all times) yet he calls us out of our normal (Egyptian) routines to come in to a place where the people of God gather in unison.  This gathering in the New Testament is marked by teaching the word of Christ, admonishing each other with wisdom, and singing psalms, hymns, and spiritual songs with thankfulness in our hearts to God. (Colossians 3:16)</p>
                                 <p class= "large">This expression happens on Sunday mornings at the Community of Grace. We gather for life on life during the week at Grace Communities and we disciple, nurture and hold each other accountable in DNA’s. Sundays hold a unique place for proclamation of the gospel and impartation from the larger community in ways that nothing else can. The God who is everywhere at all time calls us together Sunday morning to express who HE is in a powerful, focused way.</p>
                                 <p class= "large">Do you see Sunday’s in this way? Don’t miss the moment that can’t be captured with an MP3 or YouTube clip. There is nothing like the impartation that believers get from the pulpit and receive from each other as we are formed by prayer and praise; confession and proclamation.</p>


                            </div>
                            </div>
                            <div class="portfolio-item-content-spc ">
                                <a href="http://nileforest.com/"  class="btn btn-black-outline btn-lg">Sermon Series<i class="fa fa-external-link right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Poftfolio Content -->
                </div>
            </div>
            <!-- End Portfolio Detail -->

        </section>
        <!-- End Portfolio Section -->

        <section class="section-padding bg-image overlay-dark40" data-stellar-background-ratio="0.4" data-background-img="assets/grace_offical/community.jpg" >
            <br />
            <br />
            <br />
            <br />
            <br />
        </section>



