
        <!-- Page Intro -->
        <section id="inner-intro" class="inner-intro bg-image overlay-dark40 dark-bg parallax parallax-background2" data-background-img="assets/grae_offical/full/17.jpg">
            <div class="container">
                <div class="intro-content">
                    <div class="intro-content-inner">
                        <h1 class="">Get to know us</h1>
                        <h5 class="alt-title intro-sub-title">Showcase of Our Awesome Works</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Intro -->


        <!-- Portfolio Section -->
        <section id="portfolio-single" class="section-padding">

            <!-- Portfolio Detail -->
            <div class="container">
                <div class="row">
                    <!-- Poftfolio Item -->
                    <div class="col-md-6">
                        <div class="portfolio-image-wrap">
                            <img src="assets/grace_offical/queens_group.jpg" alt="image" />
                        </div>
                        <div class="portfolio-image-wrap">
                            <img src="assets/grace_offical/Li_group.jpg" alt="image" />
                        </div>
                    </div>
                    <!-- End Poftfolio Item -->

                    <!-- Poftfolio Content -->
                    <div class="col-md-6">
                        <div class="portfolio-item-content">
                            <h1 class="alt-title">Community Group</h1>
                            <div class="portfolio-item-content-spc">
                                <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </h3>
                                <h3>Quisque rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h3>
                            </div>
                            <div class="portfolio-item-content-spc">
                                <a href="http://nileforest.com/" target="_blank" class="btn btn-black-outline btn-lg">Join a Community<i class="fa fa-external-link right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Poftfolio Content -->
                </div>
            </div>
            <!-- End Portfolio Detail -->

        </section>
        <!-- End Portfolio Section -->

 <!-- Statement Section -->
        <section id="statement" class="section-padding bg-image dark-bg pos-section overlay-dark" data-stellar-background-ratio="0.4" data-background-img="assets/grace_offical/community.jpg">
            <!-- page triangle shape -->
            <div class="page-triangle white-bg"></div>
            <!-- End page triangle shape -->
            <div class="container text-center">
                <a class="video-popup" href="{videoURL:https://vimeo.com/207233999?activityReferer=1show, Controls:false, autoPlay:true, loop:true, mute:true, startAt:6, opacity:1, addRaster:false, quality:'default'}">
                    <span class="play-icon-md">
                        <i class="fa fa-play"></i>
                    </span>
                </a>
                <h4 class="max-width-700 mt-30">Listen to our lead pastor as he lets us know about whats been happening at grace.</h4>
                <h6 class="alt-title mt-30">See Watch Video</h6>
            </div>
        </section>
        <!-- End Statement Section -->


  <!-- Portfolio Section -->
        <section id="portfolio-single" class="section-padding">

            <!-- Portfolio Detail -->
            <div class="container">
                <div class="row">
                 

                    <!-- Poftfolio Content -->
                    <div class="col-md-6">
                        <div class="portfolio-item-content">
                            <h1 class="alt-title">DNA</h1>
                            <div class="portfolio-item-content-spc">
                                <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </h3>
                                <h3>Quisque rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h3>
                            </div>
                            <div class="portfolio-item-content-spc">
                                <a href="http://nileforest.com/" target="_blank" class="btn btn-black-outline btn-lg">Connect With A DNA<i class="fa fa-external-link right"></i></a>
                            </div>
                        </div>
                    </div>
                       <!-- Poftfolio Item -->
                    <div class="col-md-6">
                        <div class="portfolio-image-wrap">
                            <img src="assets/grace_offical/queens_group.jpg" alt="image" />
                        </div>
                        <div class="portfolio-image-wrap">
                            <img src="assets/grace_offical/Li_group.jpg" alt="image" />
                        </div>
                    </div>
                    <!-- End Poftfolio Item -->
                    <!-- End Poftfolio Content -->
                </div>
            </div>
            <!-- End Portfolio Detail -->

        </section>
        <!-- End Portfolio Section -->


        <!-- Action -->
        <section class="ptb-45 black-bg dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="action-box-title mt-10">Each Journey has its own story. What's your story?</h3>
                    </div>
                    <div class="col-sm-4 text-right">
                        <a class="scroll-down btn btn-lg btn-white" href="#contact-us">Grace Stories</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Action -->