 <!-- Page Intro -->
        <section id="inner-intro" class="inner-intro bg-image overlay-dark40 dark-bg parallax parallax-background2" data-background-img="img/full/17.jpg">
            <div class="container">
                <div class="intro-content">
                    <div class="intro-content-inner">
                        <h1 class="">Resources</h1>
                        <h5 class="alt-title intro-sub-title">Resources to equip the church</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Intro -->


        <!-- Portfolio Section -->
        <section class="section-padding">

            
            <!-- Portfolio Grid -->
            <div class="container text-center">
             <h1 class="">Sermon Series</h1>
                <ul class="portfolio-filter categories-filter">
                    <li><a data-filter="*" class="categories active">All</a></li>
                    <li><a data-filter=".branding" class="categories">Acts</a></li>
                    <li><a data-filter=".creative" class="categories">Peace</a></li>
                    <li><a data-filter=".photography" class="categories">Joy</a></li>
                    <li><a data-filter=".coffee" class="categories">Love</a></li>
                </ul>

                <div class="rows portfolio-grid gallery-popup">

                    <!-- Portfolio Item -->
                    <div class="portfolio-item photography creative">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/01.jpg" title="Portfolio Image 01">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/01.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Landscape</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a  href="page-portfolio_single1.html" title="Portfolio Image 02">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/02.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Portfolio Detail Page</h5>
                                            <p>External Page</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding creative coffee">
                        <div class="portfolio-box">
                            <a href="page-portfolio_single2.html" title="Portfolio Image 03">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/03.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Portfolio Detail Page2</h5>
                                            <p>External Page</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/04.jpg" title="Portfolio Image 04">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/04.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>people</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/05.jpg" title="Portfolio Image 05">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/05.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Landscape</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/06.jpg" title="Portfolio Image 05">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/06.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>People</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item photography coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/07.jpg" title="Portfolio Image 07">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/07.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Landscape</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/08.jpg" title="Portfolio Image 08">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/08.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>People</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding creative coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="assets/grace_offical/portfolio/large/09.jpg" title="Portfolio Image 09">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/09.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Cloud Hill</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                </div>

            </div>
            <!-- End Portfolio Grid -->

<hr>

        </section>

        <!-- Service Section -->
        <section id="service" class="section-padding">
            <div class="container text-center">
                <h1 class="mb-60">Key Features</h1>
                <div class="row">
                    <div class="col-md-4 col-sm-6 pt-60 pt-sm-0 wow fadeInLeft">
                        <div class="content-box alt-right">
                            <div class="alt-icon-right">
                                <i class="icon-desktop"></i>
                            </div>
                            <h4 class="alt-title">Bootstrap 3</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                        <div class="content-box alt-right">
                            <div class="alt-icon-right">
                                <i class="icon-refresh"></i>
                            </div>
                            <h4 class="alt-title">Clean code & design</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                        <div class="content-box alt-right">
                            <div class="alt-icon-right">
                                <i class="icon-gears"></i>
                            </div>
                            <h4 class="alt-title">Flexible & Customizable</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                        <div class="content-box alt-right">
                            <div class="alt-icon-right">
                                <i class="icon-layers"></i>
                            </div>
                            <h4 class="alt-title">Unlimited layouts</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                    </div>
                    <!-- Image Mockup -->
                    <div class="col-md-4 hidden-sm hidden-xs text-center wow fadeInUp">
                        <img alt="" src="assets/grace_offical/mockup/mockup04.png" style="width: 100%; max-width: 320px;">
                    </div>
                    <!-- End Image Mockup -->
                    <div class="col-md-4 col-sm-6 pt-60 pt-sm-0 wow fadeInRight">
                        <div class="content-box alt-left">
                            <div class="alt-icon-left">
                                <i class="icon-mobile"></i>
                            </div>
                            <h4 class="alt-title">Fully Reasponsive</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                        <div class="content-box alt-left">
                            <div class="alt-icon-left">
                                <i class="icon-pricetags"></i>
                            </div>
                            <h4 class="alt-title">Mutli prapose Theme</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                        <div class="content-box alt-left">
                            <div class="alt-icon-left">
                                <i class="icon-document"></i>
                            </div>
                            <h4 class="alt-title">Well Documented</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                        <div class="content-box alt-left">
                            <div class="alt-icon-left">
                                <i class="icon-chat"></i>
                            </div>
                            <h4 class="alt-title">Friendly Support</h4>
                            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        </div>
                    </div>

                    <div class="portfolio-item-content-spc ">
                                <div>
                                </div>
                            </div>

                            <div class="portfolio-item-content-spc ">
                                <a href="https://itunes.apple.com/us/app/the-community-of-grace/id1072207434?ls=1&mt=8"  class="btn btn-black-outline btn-lg" target"_blank">IPHONE APP<i class="fa fa-external-link right"></i></a>
                            </div>

                </div>
            </div>
        </section>
        <!-- End Service Section -->

 <!-- Portfolio Section -->
        <section class="section-padding">

            
            <!-- Portfolio Grid -->
            <div class="container text-center">
             <h1 class="">Books</h1>
                <ul class="portfolio-filter categories-filter">
                    <li><a data-filter="*" class="categories active">All</a></li>
                    <li><a data-filter=".branding" class="categories">Marriage</a></li>
                    <li><a data-filter=".creative" class="categories">Justice</a></li>
                    <li><a data-filter=".photography" class="categories">Revival</a></li>
                    <li><a data-filter=".coffee" class="categories">Jesus</a></li>
                </ul>

                <div class="rows portfolio-grid gallery-popup">

                    <!-- Portfolio Item -->
                    <div class="portfolio-item photography creative">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/01.jpg" title="Portfolio Image 01">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/01.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Landscape</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a  href="page-portfolio_single1.html" title="Portfolio Image 02">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/02.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Portfolio Detail Page</h5>
                                            <p>External Page</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding creative coffee">
                        <div class="portfolio-box">
                            <a href="page-portfolio_single2.html" title="Portfolio Image 03">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/03.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Portfolio Detail Page2</h5>
                                            <p>External Page</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/04.jpg" title="Portfolio Image 04">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/04.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>people</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/05.jpg" title="Portfolio Image 05">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/05.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Landscape</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/06.jpg" title="Portfolio Image 05">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/06.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>People</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item photography coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/07.jpg" title="Portfolio Image 07">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/07.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Landscape</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding photography coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="img/portfolio/large/08.jpg" title="Portfolio Image 08">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/08.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>People</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                    <!-- Portfolio Item -->
                    <div class="portfolio-item branding creative coffee">
                        <div class="portfolio-box">
                            <a class="porfolio-popup gallery-popup-link" href="assets/grace_offical/portfolio/large/09.jpg" title="Portfolio Image 09">
                                <div class="portfolio-image-wrap">
                                    <img src="assets/grace_offical/portfolio/thumb/09.jpg" alt="" />
                                </div>
                                <div class="portfolio-caption-mask">
                                    <div class="portfolio-caption-text">
                                        <div class="portfolio-caption-tb-cell">
                                            <h5 class="alt-title">Simple Portfolio Title</h5>
                                            <p>Cloud Hill</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- End Portfolio Item -->

                </div>

            </div>
            <!-- End Portfolio Grid -->
